.wrapper.past{
	&:before{
		position: absolute;
	    content: '';
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background: #d9d6d8;
	}
}

.event{
	position: relative;
	&.event2{
		margin-top: 74px;
		.text_content{
			padding: 0 30px;
			.event_title{
				line-height: 60px;
				margin-top: 17px;
				img{
					margin-left: 14px;
				}
			}
		}
		
	}
	& > img{
		position: relative;
		display: block;
		width: calc(100% + 15px);
		margin-left: -20px;
		box-shadow: -1px 26px 42px -11px rgba(0,0,0,0.32);
	}
}