.wrapper.past{
	&:before{
		position: absolute;
	    content: '';
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background: #d9d6d8;
	}
}

.event{
	position: relative;
	&.event1{
		img{
			transform: rotate(0.4deg);
		}
	}
	&.event2{
		margin-top: 74px;
		img{
			transform: rotate(-1deg);
		}
		.text_content{
			padding: 0 30px;
			.event_title{
				line-height: 60px;
				margin-top: 17px;
				img{
					margin-left: 14px;
					
				}
			}
		}
		
	}
	&.event4{
		margin-bottom: 90px;
		img{
			transform: rotate(-0.4deg);
		}
		.text_content{
			bottom: 54px;
			padding: 0;
			margin-left: -1px;
			.tag{
				margin-left: 3px;
			}
			.event_title{
				img{
					margin-left: 13px;
				}
			}
		}
	}
	&.filtered{
		filter: sepia();
		transition: -webkit-filter 500ms linear;
		-webkit-transition : -webkit-filter 500ms linear;
	}
	& > img{
		position: relative;
		display: block;
		width: calc(100% + 15px);
		margin-left: -20px;
		box-shadow: -1px 26px 42px -11px rgba(0,0,0,0.32);
	}
}