.gallery{
	margin: 113px 0 0 0;
	position: relative;
	float: left;
	width: 100%;

	&:after{
		position: absolute;
	    bottom: -94px;
	    left: 0;
	    width: 100%;
	    height: 100px;
	    content: '';
	    background: #ededef;
	    z-index: 4;
	}
	&:before{
		position: absolute;
		bottom: 30px;
	    width: calc(100% - 20px);
	    left: 10px;
		height: 1px;
		content: '';
		box-shadow: -2px 27px 42px 3px rgba(0,0,0,1.32);
    	z-index: 10;
	}
	.slide{
		position: relative;
		left: 0;
		top: 0;
		transition: all 1s ease-out;
		img{
			position: relative;
			width: 100%;
			display: block;
		}
	}
	.slide2, .slide3{
		position: absolute;
	}
	.slide2{
		z-index: 2;
		transform: rotate(-4deg);
	}
	.slide3{
		z-index: 2;
		transform: rotate(-2deg);
		
	}
	
	
	&.show_slide1{
		.slide1{
			transform: translateX(0%);
		}
	}

	.text_content{
		bottom: 66px;
		padding: 0 24px;
		min-width: 690px;
		z-index: 5;
		.event_title{
			margin-top: 13px;
			img{
				margin-left: 19px;
			}
		}
	}
}
.cards.wide{
	margin-top: 75px;
	margin-bottom: 77px;
	z-index: 10;
	.info_card{
		width: 642px;
		h3, p{
			max-width: 280px;
		}
		p{
			margin-top: 0;
		}
		.tripod{
			height: 100px;
			margin-right: 40px;
			margin-bottom: 26px;
			background: url(../../assets/img/bg/kino.png) no-repeat right bottom;
			background-size: 61px 93px;
		}
	}
}


#slider ul{
	display: block;
	margin: 0;
	padding: 0;
}
#slider li{
	display: inline-block;
}

.swiper_container{
	width: 1100px;
	height: 738px;
	overflow: hidden;
	position: relative;
}
#slider{
	width: 4400px; /* *600px la dimension de la imagen */
	height: 738px;
	position: relative;
 	/*transition: all 500ms ease-in-out; */
    -webkit-backface-visibility: hidden;
    z-index: 5;
}
#slider div{
	background: rgba(0,0,0,.5);
	position: absolute;
	padding: 7px;
	bottom: 2px;
	left: 0px;
	width: 100%;
}

#slider li:nth-child(1){
	position: absolute;
	top: 0px;
	left: 0px;
}
#slider li:nth-child(2){
	position: absolute;
	top: 0px;
	left: 1100px;
}
#slider li:nth-child(3){
	position: absolute;
	top: 0px;
	left: 2200px;
}
#slider li:nth-child(4){
	position: absolute;
	top: 0px;
	left: 3300px;
}

.hover_part{
	cursor: ew-resize;
	float: left;
	position: relative;
	height: 100%;
	width: 25%;
	transition: all .5s linear;
	z-index: 10;
}


#slider{
	&.active1{
		transform: translateX(0px) translateZ(0px);
	}
  	&.active2{
		transform: translateX(-1100px) translateZ(0px);
	}
	&.active3{
		transform: translateX(-2200px) translateZ(0px);
	}
	&.active4{
		transform: translateX(-3300px) translateZ(0px);
	}
}

