.gallery{
	margin: 113px 0 0 0;
	position: relative;
	float: left;
	width: 100%;
	.decor_bottom{
		position: absolute;
	    bottom: -94px;
		left: -1px;
		width: 102%;
	    height: 100px;
	    content: '';
	    background: #ededef;
	    z-index: 9;
	}
	.shadow_bottom{
		position: absolute;
		bottom: 25px;
	    width: calc(100% - 20px);
	    left: 10px;
		height: 1px;
		content: '';
		box-shadow: -2px 27px 42px 3px rgba(0,0,0,1.32);
		z-index: 10;
	}
/*	&:after{
	    position: absolute;
    	content: '';
    	background: url(../../assets/img/gallery3.jpg);
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	z-index: 4;
    	transform: rotate(4deg);
	}
	&:before{
	   	position: absolute;
    	content: '';
    	background: url(../../assets/img/gallery2.jpg);
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	z-index: 5;
    	transform: rotate(2deg);
	}*/
	.text_content{
		bottom: 66px;
		padding: 0 24px;
		min-width: 690px;
		z-index: 5;
		.event_title{
			margin-top: 13px;
			img{
				margin-left: 19px;
			}
		}
	}
}
.cards.wide{
	margin-top: 75px;
	margin-bottom: 77px;
	z-index: 10;
	.info_card{
		width: 642px;
		h3, p{
			max-width: 280px;
		}
		p{
			margin-top: 0;
		}
		.tripod{
			height: 100px;
			margin-right: 40px;
			margin-bottom: 26px;
			background: url(../../assets/img/bg/kino.png) no-repeat right bottom;
			background-size: 61px 93px;
		}
	}
}

.swiper-container {
    width: 100vw;
	height: auto;
	z-index: 5 !important; 
	img{
/*		width: 1100px;
		height: 738px;*/
	}
}   

@media (max-width: 1100px) {
    .swiper-container, .gallery .slide{
    	width: 100% !important;
    }
}
.swiper-slide{
	transition: all .1s linear;
	img{
		
	}
}
.swiper-slide-2{
	position: absolute; 
	left: 0;
	top: 0;
	img{
		width: calc(100vw - 100px);
		margin-left: 50px;
	}
}



