header{
	/*max-width: 1280px;*/
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 659px;
	padding: 0 37px 24px;
	width: 100%;
	will-change: transform;
    transition: transform 100ms linear;
	min-width: 960px;
	@media (max-width: 960px) {

		left: 0;
		transform: translateX(0%) !important;
		&.headroom--pinned{
			transform: translateX(0%) !important;
		}
	}	
	.wrapper{
		position: relative;
	}
	&.headroom_on_top {
	    position: absolute !important;
	    top: 659px !important;
	    background: transparent !important;
	    will-change: transform;
    	transition: transform 100ms linear;
	    .description {
	    	display: block !important;
	    }
	}
	&.headroom{
		position: fixed;
		top: 52px;
		padding: 25px 0;
		z-index: 10;
		background-color: #ededef;
		z-index: 20;
		will-change: transform;
    	transition: transform 100ms linear;
		.item{
			.description{
				display: none;
			}
		}
		
	}
	&.headroom--pinned {
    transform: translateX(-50%) translateY(0px);
	}
	&.headroom--unpinned {
	  transform: translateX(-50%) translateY(-166px);
	}
	.item{
		display: inline-block;
		width: calc(100%/6);
		text-align: center;
		float: left;
		line-height: 24px;
		.img_wrapper{
			height: 68px;
			position: relative;
			&.gramophone{
				img{
					top: 0px;
					height: 67px;
				}
			}
			&.typewriter{
				
				img{
					top: 8px;
					height: 60px;
				}
			}
			&.egg{
				img{
					top: 0px;
					height: 66px;
				}
			}
			&.hanger{
				img{
					top: 0px;
					height: 66px;
				}
			}
			&.tripod{
				img{
					top: 9px;
					height: 67px;
				}
			}
			&.radio{
				
				img{
					top: 12px;
					height: 45px;
				}
			}
			img{
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
		.heading{
			color: $c_Lila;
			line-height: 24px;
			margin-top: 10px;
		}
		.description{
			min-height: 60px;
			line-height: 23px;
		}
	}
}
