@import 'variables.css';

@import 'default.css';

@import 'typo.css';

@import 'main.css';

@import 'menu.css';

@import 'upcoming.css';

@import 'gallery.css';

@import 'events.css';

@import 'club_team.css';

/*
* Основные стили
*/

@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('../../assets/fonts/AkzidenzGroteskPro-Regular.otf');
}
@font-face {
    font-family: 'Kazimir';
    src: url('../../assets/fonts/Kazimir.otf');
}
@font-face {
    font-family: 'KazimirBlack';
    src: url('../../assets/fonts/Kazimir Black.otf');
}
body {
  font-family: 'AkzidenzGroteskPro';
  background-color: #fcfcfe;
  background: #ededef;  
  font-size: 18px;
  line-height: 24px;
  color: $c_Black;
  -webkit-font-smoothing: antialiased;
  overflow: visible !important;
}
.wrapper{
  max-width: 1100px;
  min-width: 886px;
  margin-left: auto;
  margin-right: auto;
  /*background: #ededef;*/
  
  @media (max-width: 1174px) {
    margin: 0 37px;
  }
}
.bg_wrap{
  min-width: 960px;
}
.clearfix{
	clear: both;
}
.table_view{
	  height: 100%;
    width: 100%;
    display: table;
}
.cell_view{
	display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.text_content{
  position: absolute;
  /*bottom: 100px;*/
  z-index: 4;
  width: 60%;
  padding: 0 30px;
  .tag, .data{
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 6px 20px;
    background: #f42100;
    border-radius: 20px;
  }
  .event_title{
    margin-top: 12px;
    font-size: 62px;
    line-height: 68px;
    color: #fff;
    font-family: 'KazimirBlack';
  }
}
.info_card{
  width: 65%;
  margin-left: 35%;
  padding: 40px 30px 180px;
  border: 1px dashed #e3e3e5;
  h3, p{
    max-width: 360px;
  }
}
.info_card{
  position: relative;
  float: right;
  margin: 100px 0 110px;
  &.small{
    width: calc(65%/2 - 24px);
  }
  h3{
    color: #f42100;
    font-size: 18px;
  }
  p, a{
    font-size: 24px;
  }
  a{
    color: $c_Lila;
  }
}

.part_heading{
    position: relative;
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding-top: 16px;
  }