@import 'variables.css';

@import 'default.css';

@import 'typo.css';

@import 'main.css';

@import 'menu.css';

@import 'upcoming.css';

@import 'gallery.css';

@import 'events.css';

@import 'club_team.css';

/*
* Основные стили
*/

@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('../../assets/fonts/AkzidenzGroteskPro-Regular.otf');
}
@font-face {
    font-family: 'Kazimir';
    src: url('../../assets/fonts/Kazimir.otf');
}
@font-face {
    font-family: 'KazimirBlack';
    src: url('../../assets/fonts/Kazimir Black.otf');
}
body {
  font-family: 'AkzidenzGroteskPro';
  background-color: #fcfcfe;
  background: #ededef;  
  font-size: 18px;
  line-height: 24px;
  color: $c_Black;
  -webkit-font-smoothing: antialiased;
  overflow: visible !important;
}
.wrapper{
  max-width: 1100px;
  min-width: 886px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /*background: #ededef;*/
  
  @media (max-width: 1174px) {
    margin: 0 37px;
  }
}
.bg_wrap{
  min-width: 960px;
}
.clearfix{
	clear: both;
}
.table_view{
	  height: 100%;
    width: 100%;
    display: table;
}
.cell_view{
	display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.text_content{
  position: absolute;
  bottom: 88px;
  z-index: 4;
  width: 60%;
  padding: 0 16px;
  .tag, .data{
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 0px 13px 0 15px;
    background: #f42100;
    border-radius: 20px;
    height: 23px;
    line-height: 22px;
  }
  .data{
    padding-left: 11px;
    padding-right: 13px;
  }
  .event_title{
    margin-top: 9px;
    font-size: 62px;
    line-height: 68px;
    color: #fff;
    font-family: 'KazimirBlack';
    min-width: 560px;
    img{
      position: relative;
      height: 31px;
      margin-left: 9px;
    }
  }
}
.cards{
    position: relative;
    margin-top: 64px;
    float: right;
    text-align: right;
}
.info_card{
  width: 65%;
  padding: 23px 10px 0px 22px;
  border: 1px dashed #e3e3e5;
  border-width: 3px;
  position: relative;
  text-align: left;
  background-position: bottom;
  h3, p{
    max-width: 360px;
  }
  .bg{   
    height: 136px;
    margin-right: 26px;
    &.hanger{
      background: url(../../assets/img/bg/kostum.png) no-repeat calc(50% + 8px) calc(50% - 1px);
      background-size: 62px 83px;
    }
    &.medal{
      background: url(../../assets/img/bg/medal.png) no-repeat 50% 50%;
      background-size: 53px 83px;
    }
    &.typewriter{
      margin-right: 12px;
      height: 187px;
      background: url(../../assets/img/bg/typewriter.png) no-repeat 50% calc(50% + 27px);
      background-size: 76px 75px;
    }
    &.radio{
      margin-right: 8px;
      height: 156px;
      background: url(../../assets/img/bg/radio.png) no-repeat calc(50% + 1px) calc(50% + 23px);
      background-size: 75px 62px;
    }
  }
  
  
}
.info_card{  
  &.small{
    width: 313px;
    float: left;
    margin-left: 18px;
    &.styled{
      border: none;
    }
    &.note{
      border: none;
      background: #f8f8f8;
      p{
        margin-top: -1px;
      }
    }
    &.radio{
      padding-top: 19px;
      padding-left: 18px;
      p{
        margin-top: 0;
      }
    }
  }
  h3{
    color: #f42100;
    font-size: 18px;
    font-weight: 400;
  }
  p, a{
    font-size: 24px;
  }
  a{
    color: $c_Lila;
  }
  p{
    margin-top: 3px;
    line-height: 29px;
    &:nth-child(3){
      margin-top: 13px;
      &.right{
        margin-top: 15px;
        a{
          padding-top: 0;
          position: relative;
          .quotation{
            position: absolute;
            left: -9px;
            top: 0;
          }
        }
      }
    }
    a{
      display: block;

      &.vk_icon{
        display: inline-block;
        img{
          height: 12px;
        }
      }
    }
  }
}
.shadow{
  position: absolute;
  left: 0px;
  top: 0;
  width: 110%;
  height: 110%;
  z-index: -1;
}
.part_heading{
    position: relative;
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding-top: 16px;
    padding-bottom: 73px;
  }