.contact{
	position: absolute;
    left: 0;
    top: 0;
    text-align: right;
    width: 100%;
    -webkit-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
	&.fixed{
		position: fixed;
		top: 0;
		background: #fcfcfe;
		z-index: 11;
	}
	a{
		display: inline-block;
		padding: 13px 0 14px;
		&:last-of-type{
			color: $c_Lila;
			margin-left: 6px;
			&:hover{
				color: red;
			}
		}
	}
}
.separator{
	position: relative;
	width: 100%;
	height: 6px;
	border-top: 2px solid #6c3b9d;
	border-bottom: 2px solid #6c3b9d;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.content{
	margin: 53px 0 0 0;
	padding-bottom: 344px;
	h1{
		font-size: 24px;
		padding: 21px 0 0 0;
		font-weight: 400;
		span{
			font-size: 29px;
			font-family: 'Kazimir';
		}
	}
	.main_content{
		padding: 20px 0 0 0;
		.title{
			position: relative;
			float: left;
			width: calc(75% - 105px);
			font-size: 108px;
			line-height: 112px;
			font-family: 'KazimirBlack';
			span{
				color: $c_Lila;
			}
		}
		.main_right{
			position: relative;
			float: left;
			width: 25%;
			margin-left: 50px;
			
			p{
				margin-top: 20px;
				&:first-of-type{
					margin-top: 21px;
				}
				.icon{
					position: relative;
					width: 20px;
					height: 18px;
					display: inline-block;
					&.hat{
						width: 16px;
						img{
							height: 16px;
							top: 4px;
						}
					}
					&.train{		
						width: 21px;				
						img{
							height: 17px;
							top: 1px;
						}
					}
					&.loudspeaker{	
						width: 18px;					
						img{
							height: 17px;
							top: 4px;	
						}
					}
					&.portrait{		
						width: 14px;				
						img{
							height: 19px;
							top: 3px;
						}
					}
					&.fire{		
						width: 14px;				
						img{
							height: 22px;
							top: 0px;
						}
					}
					&.rings{		
						width: 21px;				
						img{
							height: 21px;
							top: 2px;
						}
					}
					&.mask{
					width: 23px;						
						img{
							height: 15px;
							top: 5px;
						}
					}
					img{
						position: absolute;
					}
					
				}
				

				a{
					color: $c_Lila;
				}
			}
		}
	}
	
}