.contact{
	position: absolute;
	left: 0;
	top: 0;
	height: 65px;
	text-align: right;
	padding: 20px 50px;
	width: 100%;
	transition: top 0.5s ease-in-out;
	&.fixed{
		position: fixed;
		top: 0;
		background: #fcfcfe;
		z-index: 11;
	}
	a{
		display: inline-block;
		&:last-of-type{
			color: $c_Lila;
		}
	}
}
.separator{
	background: #efefef;
	width: 100%;
	height: 1px;
	margin-top: 20px;
}
.content{
	margin: 65px 0 0 0;
	padding-bottom: 379px;
	.main_left{
		position: relative;
		float: left;
		width: 64%;
		padding: 26px 0 0 0;
		h1{
			font-size: 24px;
			span{
				font-size: 29px;
			}
		}
		.title{
			font-size: 108px;
			line-height: 110px;
			font-family: 'KazimirBlack';
			span{
				color: $c_Lila;
			}
		}
	}
	.main_right{
		position: relative;
		float: left;
		width: 25%;
		padding-top: 128px;
	}
}