.upcoming{
	min-width: 960px;
	.wrapper{
		position: relative;
		&:before{
			position: absolute;
			content: '';
			top: 0px;
			left: 0px;
			width: 100%;
			height: 1px;
			background: #d9d6d8;
		}
	}
	.events{
		position: relative;
		float: right;
		width: 65%;
		padding: 0px 0px 93px 0;
		min-width: 660px;
		&
		.up_event{
			padding-top: 15px;
			position: relative;
			&:first-child{
				position: relative;
				.right_block{
					padding-bottom: 43px;
					&:after{
						position: absolute;
						content: '';
						bottom: -2px;
						left: 0;
						width: 100%;
						height: 2px;
						background: #d9d6d8;
					}
				}
			}
			.day{
				font-size: 130px;
				line-height: 140px;
				color: #f42100;
				position: relative;
				float: left;
				font-family: 'KazimirBlack';
			}
			.right_block{
				font-family: 'Kazimir';
				float: right;
				width: 75%;
				position: relative;
				@media (max-width: 1174px) {
					width: 72%;
				}
				.date, .btn{
					position: relative;
				}
				.date{
					color: #f42100;
					font-size: 18px;
					line-height: 22px;
					padding-top: 6px;
					margin-left: -2px;
				}
				.title{
					font-size: 38px;
					line-height: 42px;
					margin-top: 5px;
					margin-left: -3px;
				}
				a{
					color: $c_Lila;
					font-family: 'AkzidenzGroteskPro';
					position: relative;
					float: left;
					cursor: pointer;
					margin-top: 12px;
					&:hover{
						color: $c_Red;
					}
					&.btn{
						border: 1px solid rgba(85, 61, 139, 0.3);
						border-radius: 4px;
						padding: 0px 21px 2px 19px;
						margin-top: 15px;
						&:hover{
							border-color: rgba(244, 33, 0, 0.3);
						}
						
					}
					&:last-child{
						margin-left: 14px;
					}
				}
				
			}
	
		}
		
	}
}