<div class="christmas">
    <div class="fotorama" data-width="100%"  data-max-width="100%">

        <img src="assets/img/christmas-event1.jpg">
        <img src="assets/img/christmas-event1.jpg">
        <img src="assets/img/christmas-event1.jpg">
    </div>
    <div class="christmas-to_main">
        <a href="/" ></a>
    </div>
    <main class="christmas-main">
        <section class="christmas-section">
            <h4 class="christmas-subtitle">Бал, ужин и&nbsp;фотографии</h4>
            <h1 class="christmas-title">Рождество <br>в Гранд <br>Отель <br>Метрополь</h1>
        </section>
        <aside class="christmas-sidebar">
            <div class="christmas-sidebar-item">
                <div class="christmas-date ">8&nbsp;января 2016, <br>в&nbsp;18:00</div>
            </div>
            <div class="christmas-sidebar-item">
                <div class="christmas-place ">Гранд Отель <br>Метрополь</div>
            </div>
            <div class="christmas-sidebar-item">
                <div class="christmas-price">200 ₽</div>
                <div class="christmas-button">
                    <a href="#">Я пойду</a>
                </div>
            </div>
            <div class="christmas-info">
                По всем вопросам пишите на почту:<br>mail@vauxhallnord.ru
            </div>
        </aside>
            <p class="christmas-text">
                <span class="ml-4">&laquo;Северный вокзал&raquo;</span> и&nbsp;исторический гранд-отель &laquo;Метрополь&raquo; хотели&nbsp;бы пригласить вас отпраздновать Рождество и&nbsp;Новый Год в&nbsp;стенах отеля, единственного в&nbsp;Москве и&nbsp;одного из&nbsp;пяти в&nbsp;России сохранившего исторические интерьеры своих праздничных залов.
            </p>
            <p class="christmas-text">
                Мы&nbsp;планируем провести небольшой бал с&nbsp;ужином и&nbsp;двумя танцевальными отделениями.
            </p>
            <p class="christmas-text">
                Сергей Станиславович Сосницкий любезно дал своё согласие танцмейстировать вечер. Он&nbsp;также разделяет нашу идею посвятить вечер 200-летию самой рождественской истории, сказке Гофмана &laquo;Щелкунчик&raquo; И&nbsp;обратиться к&nbsp;музыке Чайковского и&nbsp;либретто одноимённого балета.
            </p>
            <p class="christmas-text">
                Действия развернутся в&nbsp;начале двадцатого века, когда Пётр Ильич уже написал свое знаменитое произведение. Музыка композитора будет максимально использоваться &nbsp;в течение вечера. А&nbsp;наши любимые педагоги обещали танцевальные сюрпризы.
            </p>

    </main>

</div>
