<div class="club_team">
	<div class="container">
		<h3>Руководители клуба</h3>
		<div class="member">
			<img src="assets/img/team_member1.jpg" alt=""/>
			<p>Реставрации для нас хобби. Мы самиучаствуем во всех реконструкциях, поэтому делаем всё как для себя. Любые неточности и потери в качестве вызывают боль. Поэтому мы никогда не пойдём на компромиссы в качесетве.</p>
			<div class="member_name">Елена Коган</div>
		</div>
		<div class="member">
			<img src="assets/img/team_member2.jpg" alt=""/>
			<p>Мы любим историю России, поэтому много времени проводим в исследованиях в архивах и музеях. Нам важно, чтобы быт и своеобразие наших предков не потерялось и как можно больше людей прикоснулись к дореволюционному шарму и флёру. Поэтому мы читаем лекции, пишем статьи, устраиваем выставки и консультируем кинетомагрофистов.</p>
			<div class="member_name">Александр Сыромятников</div>
		</div>
	</div>
</div>