<div class="wrapper past">
	<h4 class="part_heading">Случившееся</h4>
	<div class="event event1">
		<img src="assets/img/event1.jpg">
		<div class="text_content">
			<div class="tag">Мероприятия</div>
			<div class="data">7 августа</div>
			<div class="event_title">Открытие депо Подмосковная<a href=""><img src="assets/img/arrow.png" alt=""/></a></div>
		</div>
	</div>
	<div class="cards">
		<article class="info_card small">
			<h3>Костюмы</h3>
			<p>Мы сами шьём одежду для мероприятий. Материалы подбираем вручную. Костюмы <br/>сдаём в прокат <br/>или шьём на заказ.</p>
			<p>
				<a href=""  class="vk_icon">Готовые костюмы</a>
				<a href="vk.com" class="vk_icon"><img src="assets/img/vk.png" alt=""/></a>
			</p>
			<div class="bg hanger"></div>
		</article>
		<article class="info_card small">
			<h3>Выставки, музеи</h3>
			<p>Открываем музеи, организовываем выставки, консультируем в кино и на ТВ.</p>
			<p class="right">Последняя выставка:<a href="vk.com"><span class="quotation">«</span>Железные дороги России»</a></p>
			<div class="bg medal"></div>
		</article>
		<div class="clearfix"></div>
	</div>
	<div class="event">
		<img src="assets/img/wedding.jpg">
		<div class="text_content">
			<div class="tag">Мероприятия</div>
			<div class="data">21 июня</div>
			<div class="event_title">Свадьба в историческом поезде в эдвардианском стиле</div>
		</div>
	</div>
	<article class="info_card small">
		<h3>Статьи </h3>
		<p>Иногда мы пишем на историческую тематику: статьи, очерки, фельетоны, обзоры и зарисовки из жизни людей в XIX и XX веках.</p>
	</article>
	<article class="info_card small">
		<h3>Лекции</h3>
		<p>Мы любим историю России, поэтому исследуем архивы, изучаем литературу.Знаниями делимся на открытых лекцияхи семинарах.</p>
	</article>
</div>