<div class="container">
	<div class="event">
		<img src="assets/img/event1.jpg">
		<div class="text_content">
			<div class="table_view">
				<div class="cell_view">
					<div class="tag">Мероприятия</div>
					<div class="data">9 июня</div>
					<div class="event_title">Открытие депо Подмосковная</div>
				</div>
			</div>
		</div>
	</div>
	<article class="info_card small">
		<h3>Костюмы</h3>
		<p>Мы сами шьём одежду для мероприятий. Материалы подбираем вручную. Костюмы сдаём в прокат или шьём на заказ.</p>
		<a href="vk.com">Готовые костюмы</a>
	</article>
	<article class="info_card small">
		<h3>Выставки, музеи</h3>
		<p>Открываем музеи, организовываем выставки, консультируем в кино и на ТВ. Последняя выставка:</p>
		<a href="vk.com">«Железные дороги России»</a>
	</article>
	<div class="event">
		<img src="assets/img/wedding.jpg">
		<div class="text_content">
			<div class="table_view">
				<div class="cell_view">
					<div class="tag">Мероприятия</div>
					<div class="data">21 июня</div>
					<div class="event_title">Свадьба в историческом поезде в эдвардианском стиле</div>
				</div>
			</div>
		</div>
	</div>
	<article class="info_card small">
		<h3>Статьи </h3>
		<p>Иногда мы пишем на историческую тематику: статьи, очерки, фельетоны, обзоры и зарисовки из жизни людей в XIX и XX веках.</p>
	</article>
	<article class="info_card small">
		<h3>Лекции</h3>
		<p>Мы любим историю России, поэтому исследуем архивы, изучаем литературу.Знаниями делимся на открытых лекцияхи семинарах.</p>
	</article>
</div>