<div class="wrapper">
	<div class="gallery">
		<div class="swiper_container">
			<div class="hover_part part1"></div>
			<div class="hover_part part2"></div>
			<div class="hover_part part3"></div>
			<div class="hover_part part4"></div>
		  
			<ul id="slider">
				<li>
					<img src="assets/img/gallery1.jpg"  alt="" height="738" width="1100">
				</li>
				<li>
					<img src="assets/img/gallery2.jpg"  alt="" height="738" width="1100">
				</li>
				<li>
					<img src="assets/img/gallery3.jpg"  alt="" height="738" width="1100">
				</li>
				<li>
					<img src="assets/img/gallery2.jpg"  alt="" height="738" width="1100">
				</li>
			</ul>
		</div>
		<div class="slide slide2">
			<img src="assets/img/gallery2.jpg">
		</div>
		<div class="slide slide3">
			<img src="assets/img/gallery3.jpg">
		</div>
		<div class="text_content">
			<div class="tag">Мероприятия</div>
			<div class="data">9 июня</div>
			<div class="event_title">Большие скачки<a href=""><img src="assets/img/arrow.png" alt=""/></a></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="cards wide">
		<article class="info_card ">
			<h3>Фотографии</h3>
			<p>На каждом мероприятии работает фотограф. <br/>А ещё мы устраиваем отдельные фотосессии <br/>на заказ с костюмами <br/>и реквизитами: шляпами, тростями, веерами, пенсне.</p>
			<div class="bg tripod"></div>
		</article>
	</div>
	<div class="clearfix"></div>
	<div class="event event4">
		<img src="assets/img/camp.jpg">
		<div class="text_content">
			<div class="table_view">
				<div class="cell_view">
					<div class="tag">Мероприятия</div>
					<div class="data">7 апреля</div>
					<div class="event_title">Лагерь клуба<a href=""><img src="assets/img/arrow.png" alt=""/></a></div>
				</div>
			</div>
		</div>
	</div>
</div>