<div class="container">
	<div class="gallery">
		<div class="slide slide1">
			<img src="assets/img/gallery1.jpg">
		</div>
		<div class="slide slide2">
			<img src="assets/img/gallery2.jpg">
		</div>
		<div class="slide slide3">
			<img src="assets/img/gallery3.jpg">
		</div>
		<div class="text_content">
			<div class="tag">Мероприятия</div>
			<div class="data">9 июня</div>
			<div class="event_title">Большие скачки</div>
		</div>
	</div>
	<article class="info_card">
		<h3>Фотографии</h3>
		<p>На каждом мероприятииработает фотограф. А ещё мы устраиваем отдельные фотосессии на заказ с костюмами и реквизитами: шляпами, тростями, веерами, пенсне.</p>
	</article>
	<article class="info_card">
		<h3>Фотографии</h3>
		<p>На каждом мероприятииработает фотограф. А ещё мы устраиваем отдельные фотосессии на заказ с костюмами и реквизитами: шляпами, тростями, веерами, пенсне.</p>
	</article>
	<article class="info_card">
		<h3>Фотографии</h3>
		<p>На каждом мероприятииработает фотограф. А ещё мы устраиваем отдельные фотосессии на заказ с костюмами и реквизитами: шляпами, тростями, веерами, пенсне.</p>
	</article>
	<article class="info_card">
		<h3>Фотографии</h3>
		<p>На каждом мероприятииработает фотограф. А ещё мы устраиваем отдельные фотосессии на заказ с костюмами и реквизитами: шляпами, тростями, веерами, пенсне.</p>
	</article>
	<article class="info_card">
		<h3>Фотографии</h3>
		<p>На каждом мероприятииработает фотограф. А ещё мы устраиваем отдельные фотосессии на заказ с костюмами и реквизитами: шляпами, тростями, веерами, пенсне.</p>
	</article>
</div>