<div class="past">
	<div class="clearfix"></div>
	<div class="gallery event">
		<div class="decor_bottom"></div>
		<div class="shadow_bottom"></div>
		<!-- <div class="swiper-slide"><img src="assets/img/gallery1.jpg"/></div>
		<div class="swiper-slide-2"><img src="assets/img/gallery2.jpg" data-bottom="transform: translateY(100px) rotate(0deg);transform-origin:center;" data-top="transform:translateY(0px)  rotate(3deg);"/></div> -->
		<!-- <div class="swiper-container" >
		    <div class="swiper-wrapper">
		        <div class="swiper-slide"><img src="assets/img/gallery1.jpg" data-bottom="transform:rotate(0deg);transform-origin:center;" data-top="transform:rotate(360deg);"/></div>
		        <div class="swiper-slide"><img src="assets/img/gallery2.jpg"/></div>
		        <div class="swiper-slide"><img src="assets/img/gallery1.jpg"/></div>
		        <div class="swiper-slide"><img src="assets/img/gallery2.jpg"/></div>
		    </div>    
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>	  
		</div> -->
		<div class="clip">
			<div class="background_img" style="background-image:url(assets/img/gallery1.jpg)"></div>
		</div>
		<div class="clip" data-bottom="transform: translateY(100%) rotate(2deg);transform-origin:center;" data-center="transform:translateY(0px)  rotate(1deg);"style="z-index:5">
			<div class="background_img" style="background-image:url(assets/img/gallery2.jpg)"></div>
		</div>
		<!-- <div class="clip" data-bottom="transform: translateY(200px) rotate(5deg);transform-origin:center;" data-top="transform:translateY(0px)  rotate(3deg);">
			<div class="background_img" style="background-image:url(assets/img/gallery1.jpg)"></div>
		</div> -->
		<div class="text_content">
			<div class="tag">Мероприятия</div>
			<div class="data">9 июня</div>
			<div class="event_title">Большие скачки<a href=""><img src="assets/img/arrow.png" alt=""/></a></div>
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="cards wide">
		<article class="info_card ">
			<h3>Фотографии</h3>
			<p>На каждом мероприятии работает фотограф. <br/>А ещё мы устраиваем отдельные фотосессии <br/>на заказ с костюмами <br/>и реквизитами: шляпами, тростями, веерами, пенсне.</p>
			<div class="bg tripod"></div>
		</article>
	</div>
	<div class="clearfix"></div>
</div>
<div class="past">
	<div class="event event4">
		<div class="clip" style="transform:rotate(0.5deg)">
			<div class="background_img" style="background-image:url(assets/img/camp.jpg)"></div>
		</div>
		<div class="text_content">
			<div class="tag">Мероприятия</div>
			<div class="data">7 апреля</div>
			<div class="event_title">Лагерь клуба<a href=""><img src="assets/img/arrow.png" alt=""/></a></div>
		</div>
	</div>
</div>