<div class="contact">
  <a href="#">+7 999 132-87-30</a>
  <a href="#">post@vauxhallnord.ru</a>
  <div class="separator">
  	<div class="left_triangle"></div>
  	<div class="right_triangle"></div>
  </div>
</div>
<div class="content">
	<h1>Клуб реконструкторов <span>XIX</span> и <span>XX</span> века</h1>
	<div class="main_content">
		<div class="title">Северный вокзал <span>Ожившая история</span></div>
		<div class="main_right">
			<p>
			Реконструируем <img src="assets/img/hat.png" alt=""/> одежду и <img src="assets/img/train.png" alt=""/> быт железнодорожных инженеров и их семей в XIX и XX веке.
			</p>
			<p>
			Знаем и любим железнодорожное дело. Читаем <img src="assets/img/loudspeaker.png" alt=""/> лекции, организовываем <img src="assets/img/portrait.png" alt=""/> выставки, проводим <img src="assets/img/fire.png" alt=""/> церемониалы, дни рождения, <img src="assets/img/rings.png" alt=""/> свадьбы и <img src="assets/img/mask.png" alt=""/> корпоративы.
			</p>
			<p>
			Не боимся верховой езды и вождения паровоза.
			</p>
			<p>
				<a href="vk.com">Клуб во Вконтакте</a>
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
