<header>
	<div class="wrapper">
		<div class="item">
			<div class="img_wrapper gramophone">
				<img src="assets/img/gramm.png" alt="">
			</div>
			<div class="heading">Мероприятия</div>
			<div class="description">Балы, свадьбы, корпоративы, церемониалы</div>
		</div>
		<div class="item">
			<div class="img_wrapper typewriter">
				<img src="assets/img/typewriter.png" alt="">
			</div>
			<div class="heading">Статьи</div>
			<div class="description">Анализ архивов, разбор фильмов</div>
		</div>
		<div class="item">
			<div class="img_wrapper egg">
				<img src="assets/img/medal.png" alt="">
			</div>
			<div class="heading">Выставки, кино</div>
			<div class="description">Консультируем<br/>и организовы-<br/>ваем
			</div>
		</div>
		<div class="item">
			<div class="img_wrapper hanger">
				<img src="assets/img/costum.png" alt="">
			</div>
			<div class="heading">Костюмы</div>
			<div class="description">Прокат и пошив одежды, подбор<br/>аксессуаров
			</div>
		</div>
		<div class="item">
			<div class="img_wrapper tripod">
				<img src="assets/img/tripod.png" alt="">
			</div>
			<div class="heading">Фотографии</div>
			<div class="description">С реквизитами<br/>
			и в костюмах</div>
		</div>
		<div class="item">
			<div class="img_wrapper radio">
				<img src="assets/img/radio.png" alt="">
			</div>
			<div class="heading">Лекторий</div>
			<div class="description">Читаем лекции <br/>об истории <br/>России</div>
		</div>
		<div class="clearfix"></div>
	</div>
</header>
