<div class="upcoming">
	<div class="container">
		<h4>Афиша</h4>
		<div class="events">
			<div class="up_event">
				<div class="day">28</div>
				<div class="right_floating">
					<div class="date">августа в 12:00</div>
					<div class="title">Дерби на Московском ипподроме</div>
					<a href="#" class="btn">Записаться</a>
					<a href="#">Описание</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="up_event">
				<div class="day">28</div>
				<div class="right_floating">
					<div class="date">августа в 12:00</div>
					<div class="title">Дерби на Московском ипподроме</div>
					<a href="#" class="btn">Записаться</a>
					<a href="#">Описание</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>