<!DOCTYPE html>
<html>
  <head>
    <title>Cеверный вокзал</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/description.css" rel="stylesheet" />
  </head>
  <body>
      <include src="blocks/christmas-event.html"></include>
    <script src="assets/source/scripts/jquery-1.11.3.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/events.js"></script>
  </body>
</html>
