<!DOCTYPE html>
<html>
  <include src="blocks/head.html" title=" Cеверный вокзал"></include>
  <body>
    <include src="blocks/main.html"></include>
    <include src="blocks/header.html"></include>
    <include src="blocks/upcoming_events.html"></include>
    <include src="blocks/events1&2.html"></include>
    <include src="blocks/gallery.html"></include>
    <include src="blocks/footer.html"></include>
    <script src="assets/source/scripts/jquery-1.11.3.min.js"></script>
    <script src="assets/js/scripts.js"></script>   
    <script src="assets/source/scripts/headroom.js"></script>
  </body>
</html>
